<div class="container-fluid">
<div class="row">
	<div class="col-lg-2"></div>
	<div class="col-lg-8 main-body-container">
		<div class="row">
			<div class="col-lg-2"></div>
			<div class="col-lg-8" >
				<form>
					<fieldset style="border: 5px solid #7a7a61 !important;margin-top:25px;padding: 0.35em 0.625em 0.75em;background-color:#f1f2f3;border-radius: 14px; height: 366px">
					 <div class=row>
					 	<div class="col-lg-6"></div>
					 	<div class="col-lg-6">
					 		<label style=" font-size: small" >User-id:123</label>
					 		<a href="javascript:" on-click="changePwd();" style="width:108px; padding-left:  37px;font-size: small; margin-right: 18px; ">Change Password ?</a>
					 	</div>
						<div class="row">
					 	   <div class="col-lg-12" style="margin-bottom: 5px;">
					 			<label style="margin-left: 12px">First Name <span style="margin-left: 32px;">:</span></label>{{accDtl.firstName}}
					 
					 		</div>
					 	</div>
					 	<div class="row">
					 	   <div class="col-lg-12" style="margin-bottom: 5px;">
					 			<label style="margin-left: 11px">Last Name <span style="margin-left: 32px;">:</span></label>{{accDtl.lastName}}
					 			
					 		</div>
					 	</div>
					 	<div class="row">
					 	   <div class="col-lg-12" style="margin-bottom: 5px;">
					 			<label style="margin-left:12px">Phone Number :</label>{{accDtl.phone}}
					 			
					 		</div>
					 	</div>
					 	<div class="row">
					 	   <div class="col-lg-12" style="margin-bottom: 5px;">
					 			<label style="margin-left: 12px">E-mail <span style="margin-left: 59px;">:</span></label>{{accDtl.email}}
					 			
					 		</div>
					 	</div>
					 	<div class="row">
					 	   <div class="col-lg-6" style="margin-bottom: 5px;">
                             	<label style="margin-left:12px">Address <span style="margin-left: 44px;">:</span></label>  
                            </div> 
                            <div lass="col-lg-9" style="padding-left: 138px;">
					 			<div ng-repeat="addr in accDtl.address" >
					 				<span>{{addr.addressLine1}}</span><br>
					 				<span>{{addr.addressLine2}}</span><br>
					 				<span>{{addr.city}}</span><br>
					 				<span>{{addr.pin}}</span><br>
					 				<span>{{addr.state}}</span><br>
					 			 
					 		 	</div>
					 		</div>
					 	</div>	

					 	<div class="row">
					 	<div class="col-lg-6">
					 			<label type="button" class="btn btn-primary pull-right" disabled style="width:108px; padding-left: 0px;font-size: small; margin-right: 18px;margin-top: 36px">save</label>
					 		</div>
					 	</div>
					 	</div>

		
					</fieldset>	
				</form>
			</div>
			<div class="col-lg-2"></div>
		</div>	
	</div>
	<div class="col-lg-2"></div>
</div>
</div>
