<div class="container-fluid">
<div class="row">
	<div class="col-lg-2"></div>
	<div class="col-lg-8" style="border: 3px solid #999; border-radius: 15px; height: 458px">
		<div class="row">
			<div class="col-lg-2"></div>
			<div class="col-lg-8" >
				<form>
					<fieldset style="border: 5px solid #7a7a61 !important;margin-top:25px;padding: 0.35em 0.625em 0.75em;background-color:#f1f2f3;border-radius: 14px; height: 366px">
					 <div class=row>
					 	<div class="col-lg-6"></div>
					 	<div class="col-lg-6">
					 		<label style=" font-size: small" >User-id:123</label>
					 		<a href="javascript:" on-click="changePwd();" style="width:108px; padding-left:  37px;font-size: small; margin-right: 18px;">Change Password ?</a>
					 	</div>
						<div class="row">
					 	   <div class="col-lg-12">
					 			<label style="margin-left: 42px">First Name :</label>
					 			<span><input type="text" name="text" value="suma" disabled style="width:104px"></span>
					 		</div>
					 	</div>
					 	<div class="row">
					 	   <div class="col-lg-12">
					 			<label style="margin-left: 42px">Last Name :</label>
					 			<span><input type="text" name="text" value="latha" disabled style="width:104px"></span>
					 		</div>
					 	</div>
					 	<div class="row">
					 	   <div class="col-lg-12">
					 			<label style="margin-left:12px">Phone Number :</label>
					 			<span><input type="text" name="text" value="9963922160" disabled style="width:104px"></span>
					 		</div>
					 	</div>
					 	<div class="row">
					 	   <div class="col-lg-12">
					 			<label style="margin-left: 71px">E-mail :</label>
					 			<span><input type="text" name="text" value="sumalathaeslavath@gmail.com" disabled style="width:204px"></span>
					 		</div>
					 	</div>
					 	<div class="row">
					 	   <div class="col-lg-12">
					 			<label style="margin-left:55px">Address :</label>
					 			<span><input type="text" name="text" value="Nimmapally" disabled style="width:204px;padding-bottom: 58px;"></span>
					 		</div>
					 	</div>

					 	<div class="row">
					 	<div class="col-lg-6">
					 			<label type="button" class="btn btn-primary pull-right" disabled style="width:108px; padding-left: 0px;font-size: small; margin-right: 18px;margin-top: 36px">save</label>
					 		</div>
					 	</div>
					 	</div>

		
					</fieldset>	
				</form>
			</div>
			<div class="col-lg-2"></div>
		</div>	
	</div>
	<div class="col-lg-2"></div>
</div>
</div>
