<div class="container-fluid">
	<div class="row" style="background-color:grey;align-items: center;display: flex;" >
		<div class="col-lg-2" style="margin-left: -15px;">
		      <img height="40" width="170" src="\images\logo.jpg">
		</div>
		<div class="col-lg-7" style="font-size: 28px;color:white">
		      Maa Oori Rice
		</div>
		<div class="col-lg-2" style="color:white; font-size: large; padding-left: 46px;">
			<center>
		 		<a href="#/" style="color:white;">Sumalatha Eslavath </a>
		 	</center>
		 	
		</div>
		<div class="col-lg-1" style="color:white;font-size: large;margin-left: -40px;">
			<div>
				<center>
				    |
		  			<i onclick="alert('clicked');" class="glyphicon glyphicon-cog" style="float: right;margin-top: 3px;"></i>
		 		</center>
			</div>
		
	</div>
</div>	
