<div class="container-fluid">
<div class="row">
	<div class="col-lg-2"></div>
	<div class="col-lg-8 main-body-container">
		<div class="row">
		<div class="col-lg-7"></div>
		<div class="col-lg-5">
		<form>
		<fieldset style="border: 5px solid #7a7a61 !important;margin-top:25px;padding: 0.35em 0.625em 0.75em;background-color:#f1f2f3;border-radius: 14px">
		<div style="color:grey">
	
		<h3><u><center> Login</center></u></h3>
		</div>
          <div class="row" style="margin-bottom: 10px; margin-top:25px">
			 <div class="col-lg-5" style="padding-left: 0px;">
				<label class="lbl" style="padding-left: 34px;">Email/Phone :</label>
			 </div>
			 <div class="col-lg-6" >
				<input type="text" name="userId" ng-model="userId" required>
			 </div>
		  </div>
		  <div class="row">
			 <div class="col-lg-5">
				<span><label class="lbl" style="margin-left: 36px;"> Password :</label></span>
			 </div>
			 <div class="col-lg-6" >
				<input type="password" name="password" ng-model="password" required minlength="4">
			 </div>
			</div>
			<div>
				{{error}}
			</div>
			<div class="row" style="margin-top:5px;margin-left:169px">
				<a href="#">Forgot Password ?</a>
			</div>
			<div class="row" style="margin-left:5px;margin-top:15px">
			<center>
				<button class="btn btn-primary" style="width:77px;" ng-click="login();">Login</button>
			</center>	
			 </div>
		</form>
			 <div class ="row" style="margin-top:20px; margin-left:110px">
			   <a href="javascript:" ng-click="register();" padding-left: 11px;">Create your account</a>
			 </div>
			 <!--<div class="row" style="margin-left:5px;margin-top:10px">
				<button class="btn btn" ng-click="Register();" 
				 style= "width:162px; margin-left:120px; background-color:#c4c475">Create Your Account</button>
			 </div>--> 
		</fieldset>	
		</div>	
		</div>
	</div>
	<div class="col-lg-2"></div>
</div>
</div>
