<div class="container-fluid">
	<div class="row">
	<fieldset style="border: 2px solid #c0c0c0; background-color:#e1e1d0">
	<div class="row" style="height:2px">
	<div class="col-lg-2"></div>
	  <div class="col-lg-2" style="font-size:16px">

	     <a href="#/" class="" style="margin-right:5px">
	     	<span><i class="glyphicon glyphicon-home"></i></span>
	     	<span> Home</span>
	     </a>  
	  </div>
	<div class="col-lg-2" style="font-size:16px">
	<a href="javascript:" ng-click="productDtls();" >product Details</a>
     <!--<div class="dropdown">
      <a href="javascript:" ng-click="produtDtls();" class=" dropdown-toggle" type="mouseenter" data-toggle="dropdown">Product Details 
       <span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li><a href="#">Brown Rice</a></li>
      <li><a href="#">One Time Polished Rice</a></li>
      <li><a href="#">Polished Rice</a></li>
    </ul>
    </div>-->
	</div>
	    <div class="col-lg-2" style="font-size:16px">
	      <a href="javascript:" ng-click="placeOrder();">Place Order </a>
	    </div>
	  <div class="col-lg-2" style="font-size:16px">
	  <div class="dropdown">
      <a href="#" class="dropdown-toggle" type="mouseover" data-toggle="dropdown"> My Orders
         <span class="caret"></span>
      </a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
          <li> <a href="javascript:" ng-click="track();"><center>Track My Order</center></a></li>
           <li><a href="javascript:" ng-click="order();"><center> View My Orders</center></a></li>
        </ul>
      </div>
	  </div>
	  <div class="col-lg-2" style="font-size:16px">
	  <a href="javascript:" ng-click="userAcc();"> 
	  <span>Account </span>
	  <span><i class="glyphicon glyphicon-user"></i></span></a>
	  </div>
    </div>
    </fieldset>
	</div>
</div>