<div container-fluid>
<div class="row">
<div class="col-lg-2"></div>
<div class="col-lg-8 main-body-container">
<div style="margin-top:20px">
                <span><b><u>Fully Polished Rice Nutrition Facts :</u></b></span>
                <p style="margin-left:35px; color:brown; font-size:15px;margin-top:5px;text-align: justify;">
                 <u><b>One cup of Fully Polished rice contain nutrion:</b></u></br>
                 &#8226 &nbspcalories:186      </br>                                          
                 &#8226 &nbspproteins:1.5g     </br>                                          
                 &#8226 &nbspfat     :44.42g    </br>                                          
                 &#8226 &nbspcarbohydrets:1.85g </br>
                 &#8226 &nbspSodium  :1.6mg      </br>
                 &#8226 &nbspPotassium :50.3mg    </br>
                 &#8226 &nbspIron    :1%        </br>
                 &#8226 &nbspZinc    :32.6g     </br>
                 &#8226 &nbspfiber :0.6g</br></br>
                 &nbsp &nbsp &nbspSince white rice is low in fibre.</br>
                &nbsp &nbsp  &nbspThe polishing processes of white rice removes most of the important vitamins and other nutrients from it.</br>
                &nbsp &nbsp  &nbspSo WHO suggests and recommends that brown rice. </br>
                </p>
         </div>
          <div style="margin-top:130px">
         <button class="btn btn-lg btn-primary" ng-click="Back();">< Back</button>
         <button class="btn btn-lg btn-primary pull-right" ng-click="Order();">Order</button>
       </div>
</div>
</div>
</div>
<div class="col-lg-2"></div>
</div>