<div container-fluid>
<div class="row">
<div class="col-lg-2"></div>
<div class="col-lg-8" style="border: 3px solid #999; border-radius: 15px; height: 568px">
<div style="margin-top:20px">
                <span><b><u>Fully Polished Rice Nutrition Facts :</u></b></span>
                <p style="margin-left:35px; color:brown; font-size:15px;margin-top:5px">
                 One cup of Fully Polished rice contain nutrion:-</br>
                         ->calories:186      </br>                                          
                 ->proteins:1.5g     </br>                                          
                 ->fat     :44.42g    </br>                                          
                 ->carbohydrets:1.85g </br>
                 ->Sodium  :1.6mg      </br>
                 ->Potassium :50.3mg    </br>
                 ->Iron    :1%        </br>
                 ->Zinc    :32.6g     </br>
                 ->fiber :0.6g</br>
                 Since white rice is low in fibre.</br>
                 The polishing processes of white rice removes most of the important vitamins and other nutrients from it.</br>
                 So WHO suggests and recommends that brown rice. </br>
                </p>
         </div>
          <div style="margin-top:130px">
         <button class="btn btn-lg btn-primary" ng-click="Back();">< Back</button>
         <button class="btn btn-lg btn-primary pull-right" ng-click="Order();">Order</button>
       </div>
</div>
</div>
</div>
<div class="col-lg-2"></div>
</div>