<div class="container-fluid">
<div style="margin-top:15px;font-size:x-large;margin-bottom:15px;"><center>Order History</center></div>
<div class="row">
	<div class="col-lg-2"></div>
	<div class="col-lg-8  main-body-container">
		
		<div style="font-size: large;padding-left: 89px;margin-top: 24px;">Last 10 Orders:</div>
		<div class="row">
			<div class="col-lg-1"></div>
			<div class="col-lg-10" >
				<form>
					<!--<fieldset style="border: 2px solid #7a7a61 !important;margin-top:2px;padding: 0.35em 0.625em 0.75em;background-color:#f1f2f3;border-radius: 14px; height: 100px">-->
						<div>
							<table  style="width:100%;background-color: lightskyblue" class="table table-bordered table-striped table-hover">
 								<thead>
 									<tr>
   				 						<th>S.no</th>
    			 						<th>Orders</th>
   				 						<th>Orders Stats</th>
  				 						<th>date</th>
 			 						</tr>
  								</thead>
  								<tbody>
                  {{orderHistory.email}}
                

  								    <tr ng-repeat = "order in orderHistory" >
    									     <td>{{$index+1}}</td>
    									     <td>{{order.id}}</td>
    									     <td>{{order.status}}</td>
    									     <td>{{order.date}}</td>
  									 </tr>
  								</tbody>

  							</table>	
						</div>
					 
		
					<!--</fieldset>-->	
				</form>
			</div>
			<div class="col-lg-1"></div>
		</div>	
	</div>
	<div class="col-lg-2"></div>
</div>
</div>
