<div class="container-fluid">
<div class="row">
  <div class="col-lg-2"></div>
   <div class="col-lg-8 main-body-container">
    <center>
      <div style=" margin-top:10px;color:grey;font-size: 16px;"><u><b>Place Order </b></u></div>
    </center>
   <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <fieldset style="border: 2px solid #c0c0c0 !important;margin-top:15px;padding: 0.35em 0.625em 0.75em;background-color:#f1f2f3;border-radius: 5px;margin-bottom: 15px;">
                
                      <div style="margin-bottom:5px ;margin-top:5px;">
    		                    <label>Rice type :</label>
      		                  <select  name="riceType" ng-model="riceType" id="textId">
                                <option value="--select--" >--select--</option>
                                <option value="Brown Rice" >Brown Rice</option>
                                <option value="Semi Polished Rice">Semi Polished Rice</option>
                                <option value="Fully Polished Rice">Fully Polished Rice</option>
                            </select>
                     </div>

                    <div class="row" style="margin-bottom:5px">
                      <div class="col-lg-12">
    		                  <label style="padding-left: 5px;" >Quantity :</label>
                          <select name ="quantity" ng-model="quantity" style="width:146px" id="textId1">
                              <option value="--select--" >--select--</option>
                              <option value="5">5 kgs</option>
                              <option value="10">10 kgs</option>
                              <option value="25">25 kgs</option>
                              <option value="50">50 kgs</option>
                              <option value="75">75 kgs</option>
                              <option value="100">100 kgs</option>
                        </select>
    	               </div> 
                  </div> 
                  <div>
                      <button class="btn btn-primary" ng-click="save();" style="height: 32px;margin-left: 108px;">Add to List</button>
                  </div>    
    		          <label class="lbl" style="padding-left: 10px;margin-bottom:5px">List Of Items:</label>
    	           <div>
    		              <table class="table table-bordered table-hover table-striped " id="myTable">
	   	                   <thead>
	   	  	                    <tr>
	   	  		                       <th >S.no</th>
	   	  		                       <th>Rice Type</th>
	   	  		                       <th>Quantity(kgs)</th>
	   	  		                       <th>Amount</th>
	   	  		                       <th>Add/Remove</th>
	   	  	                    </tr>
	   	                     </thead>	
	   	                     <tbody >
	   	  	                     <tr  ng-repeat="place in placeOrder" >
	   	  		                         <td ><span ><center>{{$index+1}}</center></span></td>
	   	  		                         <td >{{place.riceType}}</td>
	   	  		                         <td ><center>{{place.quantity}}</center></td>
	   	  		                         <td>Rs :</td>
                                     <td><a href="javascript:" ng-click="remove()">Remove </a> </td>
	   	  	                    </tr>
	   	  	                    <tr>
	   	  		                     <td colspan="5"><center><b  style="margin-left:20px">Total Amount :</b></center></td>
	   	  	                    </tr>
	   	                     </tbody>
	   	               </table>
    	           </div>
          
          <form action="">
          <div style="margin-bottom:5px">
                <label class="lbl">Shipping Address :</label>
                 <input  type="checkbox" value="true" ng-model="check" >
               
          </div>
           </form>
    	   <fieldset style="border: 2px solid #c0c0c0 !important;margin-top:15px;padding: 0.35em 0.625em 0.75em;background-color:#f1f2f3;border-radius: 5px">
              <div class="row">
                      <div class="col-lg-3" style="margin-bottom: 5px;">
                          <label style="margin-left:55px">Address:</label> 
                          
                      </div> 
                      <div lass="col-lg-9" style="padding-left: 138px;">
                        <div ng-repeat="addr in accDtl.address" >
                            <span >{{addr.addressLine1}}</span><br>
                            <span>{{addr.addressLine2}}</span><br>
                            <span>{{addr.city}}</span><br>
                            <span>{{addr.pin}}</span><br>
                            <span>{{addr.state}}</span><br>
                        </div>
                    </div>
              </div>  
		    </fieldset>
    	   <div style="margin-left:50px;margin-top:5px">
    		    <button class="btn btn-primary" ng-click="submit()"> Submit </button>
    		    <button class="btn btn-strong" style="margin-left:270px" > Cancel </button>
    	   </div>
         </fieldset>
      </div>  
     </div>  	
      <div class="col-lg-2"></div>
    </div>   
      <div class="col-lg-2"></div>
</div>
</div>