<div class="container-fluid">
<div class="row">
	<div class="col-lg-2"></div>
	<div class="col-lg-8 main-body-container">
		
		<div style="font-size: large;padding-left: 89px;margin-top: 24px;color: seagreen">Thank  You For Using Our Services</div>
		<div class="row">
			<div class="col-lg-1"></div>
			<div class="col-lg-10" >
				<form>
					<fieldset class="fieldset">
                <div class="col-lg-12" style="font-size:16px">
                    <div class="dropdown">
                          <img height="12" width="12" src="\images\dot.png">
                            <a href="#" class="dropdown-toggle" type="mouseover" data-toggle="dropdown">          Recived   your Ordes
                                  <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu" style="margin-left: 85px;">
                                  <li><center>we recived your order the item list Brown Rice 40kg </center></li>
                            </ul>
                    </div>
                    <div style="padding-left: 61px;">
                        <img height="6" width="6" src="\images\circle.png"><br>
                        <img height="6" width="6" src="\images\circle.png"><br>
                        <img height="6" width="6" src="\images\circle.png"><br>
                        <img height="6" width="6" src="\images\circle.png"><br>
                    </div>
                </div>
                <div class="col-lg-12" style="font-size:16px">
                    <div class="dropdown">
                          <img height="12" width="12" src="\images\dot.png">
                            <a href="#" class="dropdown-toggle" type="mouseover" data-toggle="dropdown">Proessing Order
                                  <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu" style="margin-left: 85px;">
                                  <li><center>we recived your order the item list Brown Rice 40kg </center></li>
                            </ul>
                    </div>
                    <div style="padding-left: 61px;">
                        <img height="6" width="6" src="\images\circle.png"><br>
                        <img height="6" width="6" src="\images\circle.png"><br>
                        <img height="6" width="6" src="\images\circle.png"><br>
                        <img height="6" width="6" src="\images\circle.png"><br>
                    </div>
                </div>

                <div class="col-lg-12" style="font-size:16px">
                    <div class="dropdown">
                          <img height="12" width="12" src="\images\dot.png">
                            <a href="#" class="dropdown-toggle" type="mouseover" data-toggle="dropdown"> Read to delivery
                                  <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu" style="margin-left: 85px;">
                                  <li><center>we recived your order the item list Brown Rice 40kg </center></li>
                            </ul>
                    </div>
                    <div style="padding-left: 61px;">
                        <img height="6" width="6" src="\images\circle.png"><br>
                        <img height="6" width="6" src="\images\circle.png"><br>
                        <img height="6" width="6" src="\images\circle.png"><br>
                        <img height="6" width="6" src="\images\circle.png"><br>
                    </div>
                </div>
                <div class="col-lg-12" style="font-size:16px">
                    <div class="dropdown">
                          <img height="12" width="12" src="\images\dot.png">
                            <a href="#" class="dropdown-toggle" type="mouseover" data-toggle="dropdown">On the way to delivery
                                  <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu" style="margin-left: 85px;">
                                  <li><center>we recived your order the item list Brown Rice 40kg </center></li>
                            </ul>
                    </div>
                    <div style="padding-left: 61px;">
                        <img height="6" width="6" src="\images\circle.png"><br>
                        <img height="6" width="6" src="\images\circle.png"><br>
                        <img height="6" width="6" src="\images\circle.png"><br>
                        <img height="6" width="6" src="\images\circle.png"><br>
                    </div>
                </div>

                <div class="col-lg-12" style="font-size:16px;margin-bottom: 29px;">
                    <div class="dropdown">
                          <img height="12" width="12" src="\images\dot.png">
                            <a href="#" class="dropdown-toggle" type="mouseover" data-toggle="dropdown">          Delivered
                                  <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu" style="margin-left: 78px;">
                                  <li><center>we recived your order the item list Brown Rice 40kg </center></li>
                            </ul>
                    </div>
                </div>


				 </fieldset>
				</form>
			</div>
			<div class="col-lg-1"></div>
		</div>	
	</div>
	<div class="col-lg-2"></div>
</div>
</div>
